$-colors: (
        'primary': (
                'base': #000,
        ),
        'success': (
                'base': #67c23a,
        ),
        'warning': (
                'base': #e6a23c,
        ),
        'danger': (
                'base': #f56c6c,
        ),
        'error': (
                'base': #f56c6c,
        ),
        'info': (
                'base': #909399,
        ),
);
$-header: (
        'padding': 0,
        'height': 40px,
);
@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: $-colors,
  $header: $-header,
);
