html{color:#333;background:#fff;}
body{font:14px/1.5 "Microsoft yahei",Tahoma,Arial,Helvetica,sans-serif;word-break:break-all;word-wrap:break-word;margin:0 auto;}
body,h1,h2,h3,h4,h5,h6,p,dl,dd,td,th{margin:0;padding:0;}ul,ol,input{margin:0;padding:0;}li{list-style: none;}
img{border:none;vertical-align:middle;}
table{border-collapse:collapse;border-spacing:0;}
textarea{resize:none;}
button,input,textarea{font-family:"Microsoft yahei",Tahoma,Arial,Helvetica,sans-serif;vertical-align:middle;}
input:focus{outline:none;}
a{color: #333; text-decoration: none;cursor: pointer;}
.clearfix { *zoom:1}
.clearfix:after{content: "";display: block; clear: both;}
.clearDiv{clear:both;height:0;font-size:0; overflow: hidden;}
.clearboth{clear:both; height:2px; overflow:hidden;}
.fl{float:left;}
.fr{float:right;}

.wrap {
  max-width: 1200px;
  margin: 0  auto;
}
div:focus {
  outline: none;
}

